body{
    background-color: aquamarine;
    margin: 100px 100px 200px 100px ;
}
p{
    color: black;
    font-size: 20px;
    margin: 50px 10px 50px 10px;
}
h1{
    color: blueviolet;
    font-size:30px;
    margin-left: 10px;
    margin-right: 10px;

}
#father{
    color: darkgoldenrod;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#mather{
    color: black;
    font-size: 30px;
}
.family{
    color: deeppink;
    font-size: 30;
}
#Good{
    color: blueviolet;
    font-size: medium;
}

.friend{
    color: fuchsia;
    font-size: larger;
}
.frie{
    color: lawngreen;
    font-size: 15px;
}